<div class="row">

    <div class="col-md-4 col-md-offset-4">
      <iron-form>
      <form method="post" action="/signup">
        <paper-input name="name" label="name" type="text" [(ngModel)]="user.name" required></paper-input>
        <paper-input name="email" label="email" type="email" [(ngModel)]="user.email" required></paper-input>
        <paper-input name="password" label="password" type="password" [(ngModel)]="user.password" required minlength="4" maxlength="24"></paper-input>
        <paper-input name="rep-password" label="repeat password" type="password" [(ngModel)]="rep_password" required minlength="4" maxlength="24"></paper-input>
        <!-- <input type="text" name="_csurf" value="{{ csrfToken }}"> -->
        
        <br>
        <paper-button class="indigo" (click)="submitUser()">SignUp</paper-button>
        <paper-button class="indigo" (click)="cancelSubmit()">Cancel</paper-button>
      </form>
    </iron-form>
    </div>
</div>