<!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a routerLink="/">Sign</a></li>
      <li><a routerLink="/data">Data</a></li>
    </ul>
  </div>
</nav> -->

<paper-tabs selected="0" scrollable>
  <paper-tab routerLink="/">Home</paper-tab>
  <paper-tab routerLink="/data">Data</paper-tab>
  <paper-tab routerLink="/login">Login</paper-tab>
  <paper-tab routerLink="/signup">SignUp</paper-tab>
</paper-tabs>