<div class="row">
  <br><br>
  <div class="col-xs-6">
            <paper-input name="name" label="data" type="text" [(ngModel)]="data_field" required></paper-input>
            <br>
            <paper-button class="indigo" (click)="readData()">Read Data</paper-button>
        </div>
        <div class="col-xs-6">
            <paper-input name="email" label="email" type="email" [(ngModel)]="user.email" required></paper-input>
            <paper-input name="name" label="data" type="text" [(ngModel)]="user.data" required></paper-input>
            <br>
            <paper-button class="indigo" (click)="writeData()">Write Data</paper-button>
        </div>
</div>